#header {
    padding-bottom: 0px;
}

#header header {
    padding-bottom: 0px;
}

#profile-pic {
    width: 500px;
    margin-top: 25px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px black;
}

#icons div {
    
}

#icons {
    padding-top: 16px;
}

#icons a {
    text-decoration: none;
    font-size: 200%;

}

#resume {

}